@using SpaceBlog.Components.Widgets
@using System.Text.Json

@inject IHttpClientFactory ClientFactory

<div class="sb-cards">
	@foreach(var post in posts!)
	{
		<Card imageSource="@post.ImageBase64" />
	}
</div>

@code {

	List<Post>? posts = [];

	protected override async Task OnInitializedAsync()
	{
		await ListAllPosts();
	}

	public async Task ListAllPosts()
	{
		var client = ClientFactory.CreateClient();

		var response = await client.GetAsync("https://localhost:7014/Post");

		var jsonResponse = await response.Content.ReadAsStringAsync();

		posts = JsonSerializer.Deserialize<List<Post>>(jsonResponse);
		Console.WriteLine(posts!.Count());
	}

	public class Post
	{
		public int Id { get; set; }
		public string Text { get; set; } = string.Empty;
		public string ImageBase64 { get; set; } = string.Empty;
	}
}