@page "/"

<PageTitle>Página Inicial</PageTitle>

<div class="banner-content">
	<img src="images/banner.png" class="banner-content__image" />
	<span class="banner-content__text">A sua galeria de fotos do espaço!</span>
</div>
