<nav class="sb-nav">
	<div class="sb-navmenu-image">
		<a href="/">
			<img src="logo/spaceblogbrand.svg" height="60" />
		</a>
	</div>

	<div class="sb-navmenu-searcher">
		<div class="sb-navmenu-content">
			<input type="text" placeholder="O que você procura?" class="sb-navmenu-content__search" />
			<input type="button" class="sb-navmenu-content__button" />
		</div>
	</div>

	<div class="sb-navmenu-content__menu">

		<div>
			<button class="btn btn-none border-0" data-bs-toggle="dropdown" aria-expanded="false">
				<img class="sb-navmenu-content__menu__icon" src="icons/list.svg" />
			</button>
			<ul class="dropdown-menu sb-navmenu-content__menu__list">
				<li>
					<a href="/edit" class="p-2">
						Adicionar fotos
					</a>
				</li>
			</ul>

		</div>

	</div>

</nav>
