<nav class="sb-nav">
	<div>
		<img src="logo/spaceblogbrand.png" height="60" />
	</div>

	<div class="sb-navmenu-searcher">
		<div class="sb-navmenu-content">
			<input type="text" placeholder="O que você procura?" class="sb-navmenu-content__search" />
			<input type="button" class="sb-navmenu-content__button" />
		</div>
	</div>

	<div>
		<img class="sb-navmenu-content__menu" src="icons/list.svg" />
	</div>
</nav>

