@import "styles/navbar.css";
@import "styles/home/banner.css";

:root {
    --color-primary: rgba(4, 36, 79, 1);
    --color-secondary: rgba(218, 56, 67, 1);
    --color-surface: rgba(219, 219, 219, 1);
    --color-secondary-op-high: rgba(218, 56, 67, 0.9);
    --color-surface-op-medium: rgba(219, 219, 219, 0.6);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-surface);
}
