@using SpaceBlog.Components.Widgets

<div class="sb-card">

	<div class="sb-card__image">
		<img class="sb-card__image__img" src="@imageSource" />
	</div>

	<div class="sb-card__content">

		<div class="sb-card__content__text">
			@text
		</div>

		<div class="sb-card__content__actions">
			<button class="sb-btn">Ver conteúdo</button>
		</div>

	</div>

</div>

@code {
	[Parameter]
	public string imageSource { get; set; } = string.Empty;

	[Parameter]
	public string text { get; set; } = "Sem texto";
}
