<div class="sb-card">

	<div class="sb-card__image">
		<img class="sb-card__image__img" src="images/card-model.png" />
	</div>

	<div class="sb-card__content">

		<div class="sb-card__content__text">
			A lua é um satélite da Terra. Ela tem uma influência em fatores naturais da Terra devido a sua gravidade.
		</div>

		<div class="sb-card__content__actions">
			<button class="sb-btn">Explorar</button>
		</div>

	</div>

</div>

@code {

}
