.sb-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px;
}

.teste {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sb-navmenu-content {
    border-radius: 9px;
    border: 1px solid var(--color-secondary-op-high);
    position: relative;
    display: flex;
    align-items: center;
}

.sb-navmenu-content__button {
    width: 38px;
    height: 38px;
    background: transparent url("../icons/search.png") no-repeat center;
    border: none;
    margin-right: 3px;
    margin-bottom: 3px;
}

.sb-navmenu-content__search {
    border: none;
    width: 360px;
    padding: 12px 0px 12px 9px;
    background: transparent;
    color: var(--color-surface);
}

.sb-navmenu-content__search:focus {
    outline: none;
}

.sb-navmenu-content__search::placeholder {
    font-family: 'Gandhi Sans', sans-serif;
    color: var(--color-surface-op-medium);
}

.sb-navmenu-content__menu {
    filter: invert(97%) sepia(2%) saturate(31%) hue-rotate(26deg) brightness(94%) contrast(88%);
}